@import 'variables';


// FLEXBOX
@mixin flex-spacebetween-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin flex-evenly {
    display: flex;
    justify-content: space-evenly;
}

@mixin center-center {
    justify-content: center;
    align-items: center;
}

// CONTENEDORES
@mixin container-styles {
    background-color: $bg-contenedores;
    border-radius: 10px;
    -webkit-backdrop-filter: $blur;
    backdrop-filter: $blur;
    box-shadow: $shadow-blur;
}


@mixin fullScreen {
    width: 100%;
    height: 100%;
}


// ESCALA
@mixin scale {
    transform: scale(1.1);
}


// KEYFRAMES
@mixin floatAnim {
    @keyframes float {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-20px);
        }
        100% {
            transform: translateY(0px);
        }
    }
}

@mixin progressAnim {
    @keyframes progress {
        100% {
            right: 100%;
        }
    }
}


// TEXTOS
@mixin infoTexts {
    font-weight: 300;
    color: $black;
    font-size: 0.8em;
}


// RESPONSIVE 
@mixin tablet-only-containeres {
    @media screen and (min-width: 701px) and (max-width: 820px) {
        #contenedor {
            top: 45%;
            flex-direction: column;
            align-items: center;
            gap: 3%;

            #izquierda {
                width: 85%;
                height: 55%;
            }

            #derecha {
                width: 85%;
                height: 45%;
            }
        }

        .nav {
            bottom: 2.5%;
            left: 9%;
            z-index: 5;

            .line {
                width: 10rem;
                transform: scaleX(1);
                margin: 0 0.9rem;
            }
        }
    }

}

@mixin tablet-only-images {
    @media screen and (min-width: 701px) and (max-width: 820px) {
        .vector {
            width: 40%;
        }
    }
}

@mixin tablet-only-text {
    @media screen and (min-width: 701px) and (max-width: 820px) {
        .sm-header {
            font-size: 1.2rem;
            cursor: default;
        }

        .nav-item {
            opacity: 1;
            margin-inline: 0.6rem;

            &:nth-child(odd) {
                transform: translateY(0);
            }

            &:nth-child(even) {
                transform: translateY(0);
            }
        }

        .nav-link {
            font-size: 1.4rem;
        }
    }
}