@import 'variables';
@import 'mixins';

/* ------ */
/* TOAST */
/* ----- */
.toast {
    display: none;
    position: absolute;
    top: 3%;
    right: 2%;
    border-radius: 12px;
    background-color: $bg-toast;
    -webkit-backdrop-filter: $toast-blur;
    backdrop-filter: $toast-blur;
    padding: 1.5% 3%;
    box-shadow: $toast-shadow;
    overflow: hidden;
    transform: translateX(calc(100% + 3px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);

    .active {
        display: block;
        transform: translateX(0%);

        &:before {
            animation: progress 5s linear forwards;
        }

        .active ~ button {
            pointer-events: none;
        }
    }

    .toast-content {
        display: flex;
        align-items: center;
    }

    .check {
        display: flex;
        @include center-center;
        height: 35px;
        min-width: 35px;
        font-size: 20px;
        background-color: rgba(16,16,16,0.7);
        color: hsla(0, 0%, 90%, 1);
        border-radius: 50%;
    }

    .message {
        @include flex-column;
        margin: 0 20px;
        
        .text {
            font-size: 16px;
            font-weight: 400;
            color: $black;
            cursor: default;

            .text-1 {
                font-weight: 600;
            }

            .text-2 {
                font-weight: 200;
            }
        }

    }

    .close {
        position: absolute;
        top: 10px;
        right: 15px;
        padding: 5px;
        opacity: 0.7;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    .progress {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 5px;
        width: 100%;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            @include fullScreen;
            background-color: $black;
        }
    }

}

@include progressAnim;
