
// Colors
$black: #161616;
$l-spacing : 2px;

// Backgrounds
$bg-contenedores: rgba(140,140,190, 0.1);
$bg-show: rgba(290, 290, 290, 0.29);
$bg-botones: rgba(209, 172, 0, 0.9);

// Blur
$blur: blur(4px);
$btn-blur: blur(10px);
$shadow-blur: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24), 0 1px 3px 2px rgba(0, 0, 0, 0.24);

// Transition
$twos: 0.2s ease;