
// Colors
$black: #161616;
$l-spacing : 2px;

// Backgrounds
$bg-contenedores: rgba(140,140,190, 0.1);
$bg-show: rgba(290, 290, 290, 0.29);
$bg-botones: rgba(209, 172, 0, 0.9);
$bg-toast: rgba(209, 172, 0, 0.6);

// Blur
$toast-blur: blur(2px);
$blur: blur(4px);
$btn-blur: blur(10px);

// Shadow
$toast-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
$shadow-blur: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24), 0 1px 3px 2px rgba(0, 0, 0, 0.24);

// Transition
$twos: 0.2s ease;
$fives: 0.5s ease;