@import 'mixins';

/* -------- */
/* Imagenes */
/* -------- */
header {
    img {
        width: 2%;
    }
}

.vector {
    width: 80%;
    animation: float 5s ease infinite;
}

@include floatAnim;

.vectorCat {
    display: none;
}