@import 'variables';

@mixin flex-spacebetween-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin container-styles {
    background-color: $bg-contenedores;
    border-radius: 10px;
    -webkit-backdrop-filter: $blur;
    backdrop-filter: $blur;
    box-shadow: $shadow-blur;
}

@mixin flex-center-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin flex-evenly {
    display: flex;
    justify-content: space-evenly;
}

@mixin center-center {
    justify-content: center;
    align-items: center;
}

@mixin fullScreen {
    width: 100%;
    height: 100%;
}

@mixin scale {
    transform: scale(1.1);
}

@mixin floatAnim {
    @keyframes float {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-20px);
        }
        100% {
            transform: translateY(0px);
        }
    }
}

@mixin infoTexts {
    font-weight: 300;
    color: $black;
    font-size: 0.8em;
}