@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&family=Vina+Sans&display=swap");
/* ------- */
/* General */
/* ------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

a:link, a:visited {
  color: #161616; }

.oculto {
  display: none !important; }

/* ------------ */
/* Contenedores */
/* ------------ */
#canv {
  width: 100%;
  height: 100vh;
  z-index: -1; }

@media screen and (max-width: 515px) {
  #canv {
    opacity: 0.4; } }
body, html {
  overflow: hidden; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 96%;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  padding: 1%; }

#contenedor {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 97%;
  height: 80%;
  gap: 60px; }

#izquierda {
  background-color: rgba(140, 140, 190, 0.1);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24), 0 1px 3px 2px rgba(0, 0, 0, 0.24);
  width: 60%; }

#derecha {
  background-color: rgba(140, 140, 190, 0.1);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24), 0 1px 3px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  gap: 5%; }

.izquierda-contenido {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  gap: 3%; }

.mainbttns {
  display: flex;
  justify-content: space-evenly; }

.resultadoOculto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3%;
  width: 95%;
  height: 95%; }

.resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  width: 95%;
  height: 60%; }

.showResult {
  width: 100%;
  height: 75%;
  color: #161616;
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.29);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  padding: 2%; }

.copia {
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-content: center;
  align-content: center;
  gap: 15%; }

.info {
  text-align: left;
  cursor: default; }

.boton {
  display: flex;
  justify-content: center; }

.nav {
  position: absolute;
  bottom: 1.5%;
  left: 1.5%;
  max-width: 80rem;
  display: flex;
  align-items: center;
  pointer-events: none; }
  .nav:hover {
    pointer-events: auto; }
  .nav:hover .line {
    transform: scaleX(1); }
  .nav:hover .nav-item {
    opacity: 1;
    transform: translateY(0); }

.line {
  width: 8rem;
  height: 1px;
  background-color: #161616;
  margin-left: 0.5rem;
  transform: scaleX(0.4);
  transform-origin: left;
  transition: transform 0.5s ease; }

.nav-list {
  display: flex;
  list-style: none; }

@media screen and (min-width: 701px) and (max-width: 820px) {
  #contenedor {
    top: 45%;
    flex-direction: column;
    align-items: center;
    gap: 3%; }
    #contenedor #izquierda {
      width: 85%;
      height: 55%; }
    #contenedor #derecha {
      width: 85%;
      height: 45%; }

  .nav {
    bottom: 2.5%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%); }
    .nav .line {
      width: 10rem;
      transform: scaleX(1);
      margin: 0 0.9rem; } }
@media screen and (max-width: 700px) {
  header {
    justify-content: center; }

  #contenedor {
    top: 49%;
    flex-direction: column; }
    #contenedor #izquierda {
      width: 100%;
      height: 40%; }
      #contenedor #izquierda textarea {
        text-transform: lowercase; }
    #contenedor #derecha {
      width: 100%;
      height: 40%;
      flex-direction: row;
      gap: 0; }
      #contenedor #derecha .resultadoOculto {
        flex-direction: row; }
        #contenedor #derecha .resultadoOculto .resultado {
          width: 55%;
          height: 100%; }
    #contenedor .showResult {
      background: transparent; }
    #contenedor .copia {
      width: 45%;
      height: 100%; }
    #contenedor .info {
      display: none; }
    #contenedor .boton {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center; }
      #contenedor .boton button {
        transform: scale(1.2); }

  .nav {
    left: 50%;
    transform: translate(-50%);
    bottom: 1.5%; }
    .nav .sm-header {
      font-size: 1.2rem;
      cursor: default; }
    .nav .line {
      width: 3rem;
      transform: scaleX(1); }
    .nav .nav-item {
      opacity: 1; }
      .nav .nav-item:nth-child(odd) {
        transform: translateY(0); }
      .nav .nav-item:nth-child(even) {
        transform: translateY(0); }
      .nav .nav-item .nav-link {
        font-size: 1.8rem; } }
@media screen and (max-width: 450px) {
  header {
    top: 2.1%; }

  #contenedor {
    width: 90%;
    gap: 5%; }

  #izquierda {
    height: 50%; }

  .izquierda-contenido {
    padding: 0;
    gap: 1%; }

  textarea {
    height: 85%; }

  button {
    font-size: 0.6em; }

  #derecha {
    align-items: center;
    height: 50%; }

  .vectorCat {
    width: 100%; }

  .catTexto {
    font-size: 0.5em; }

  .resultadoOculto {
    flex-direction: column;
    width: 100%;
    height: 100%; }

  .resultado {
    width: 100%; }

  .nav {
    bottom: 1%; }

  .sm-header {
    font-size: 1rem; }

  .nav-item {
    margin-inline: 0.5rem; }

  .nav-link {
    font-size: 1.3rem; } }
@media screen and (max-height: 300px) {
  #contenedor {
    width: 80%;
    gap: 40%; }

  #izquierda {
    height: 70%; }

  #derecha {
    height: 20%; }

  .izquierda-contenido {
    gap: 0; }

  .mainbttns {
    padding-bottom: 10px; }

  textarea {
    height: 30%; } }
/* -------- */
/* Imagenes */
/* -------- */
header img {
  width: 2%; }

.vector {
  width: 75%; }

.vectorCat {
  display: none; }

@media screen and (min-width: 701px) and (max-width: 820px) {
  .vector {
    width: 40%; } }
@media screen and (max-width: 700px) {
  header img {
    width: 5%; }

  .vector {
    display: none; }

  .vectorCat {
    display: block;
    width: 50%; } }
/* ------- */
/* Textos */
/* ------- */
header span {
  letter-spacing: 2px;
  font-style: italic;
  font-weight: 200;
  cursor: default; }

.izquierda-contenido p {
  font-weight: 300;
  color: #161616;
  font-size: 0.8em;
  margin-left: 2%; }

.msnTexto {
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 1.3em; }

.catTexto {
  display: none; }

.resultado h2 {
  cursor: default;
  color: #161616;
  letter-spacing: 2px; }
.resultado .showResult {
  text-align: center; }

.fa-heart {
  font-size: 2em;
  color: #161616; }

.info p {
  font-weight: 300;
  color: #161616;
  font-size: 0.8em; }
.info i {
  font-size: 0.9em;
  color: #161616;
  margin-right: 2px; }

.sm-header {
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: uppercase;
  cursor: pointer;
  pointer-events: auto; }

.nav-item {
  margin-inline: 1rem;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease; }
  .nav-item:nth-child(odd) {
    transform: translateY(5rem); }
  .nav-item:nth-child(even) {
    transform: translateY(-5rem); }
  .nav-item .nav-link {
    font-size: 2rem; }

@media screen and (min-width: 701px) and (max-width: 820px) {
  .izquierda-contenido p {
    display: none; }

  .info {
    align-self: center;
    width: 90%; }
    .info p {
      text-align: center; }

  .sm-header {
    font-size: 1.2rem;
    cursor: default; }

  .nav-item {
    opacity: 1;
    margin-inline: 0.6rem;
    z-index: 5;
    cursor: pointer; }
    .nav-item:nth-child(odd) {
      transform: translateY(0); }
    .nav-item:nth-child(even) {
      transform: translateY(0); }

  .nav-link {
    font-size: 1.4rem; } }
@media screen and (max-width: 700px) {
  header span {
    display: none; }

  .izquierda-contenido p {
    display: none; }

  .msnTexto {
    display: none; }

  .catTexto {
    display: block;
    font-weight: bolder;
    text-align: center;
    transform: translateY(-55px); }

  .resultado h2 {
    font-size: 1em; }

  .fa-heart {
    font-size: 1em;
    padding-top: 2%; } }
/* -------- */
/* textarea */
/* -------- */
textarea {
  width: 100%;
  height: 75%;
  resize: none;
  border: none;
  background: transparent;
  letter-spacing: 2px;
  padding: 3%;
  font-weight: bolder; }
  textarea:focus {
    outline: none; }

/* -------- */
/* Botones */
/* ------- */
button {
  cursor: pointer;
  border-radius: 25px;
  border: none;
  padding: 1.5% 2%;
  font-weight: bolder;
  transition: 0.2s ease;
  letter-spacing: 2px;
  color: #161616;
  background-color: rgba(209, 172, 0, 0.9);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24), 0 1px 3px 2px rgba(0, 0, 0, 0.24); }
  button:hover {
    transform: scale(1.1); }

.toast {
  display: none;
  position: absolute;
  top: 3%;
  right: 2%;
  border-radius: 12px;
  background-color: rgba(209, 172, 0, 0.6);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  padding: 1.5% 3%;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35); }

.toast.active {
  display: block;
  transform: translateX(0%); }

.toast .toast-content {
  display: flex;
  align-items: center; }

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: rgba(16, 16, 16, 0.7);
  color: #e6e6e6;
  font-size: 20px;
  border-radius: 50%; }

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px; }

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #161616;
  cursor: default; }

.message .text.text-1 {
  font-weight: 600; }

.message .text.text-2 {
  font-weight: 200; }

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7; }

.toast .close:hover {
  opacity: 1; }

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%; }

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #161616; }

.progress.active:before {
  animation: progress 5s linear forwards; }

@keyframes progress {
  100% {
    right: 100%; } }
.toast.active ~ button {
  pointer-events: none; }

/*# sourceMappingURL=styles.css.map */
