@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

body {
  background: #dbdbdb;
}

a {
text-decoration: none;
}

a:visited {
  color: #161616;
}

header {
  margin: 1%;
  display: flex;
  height: 15%;
  justify-content: space-between;
  border: red 1px dotted;
}

.aluraLat {
  scale: 60%;
  border: red 1px dotted;
}

section {
  display: flex;
  margin: 40px;
  width: 95%;
  height: 70%;
  border: red 1px dotted;
}

.title {
display: flex;
  border: red 1px dotted;
}

.crypted {
  color: #0A3871;
  font-weight: bolder;
  font-style: normal;
}

.fa-solid {
  margin: auto 0;
  padding: 2px;
}

textarea {
  background: #dbdbdb;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #0A3871;
  transition: 0.3s ease;
}

textarea:focus {
  outline: none;
}

::placeholder {
  font-weight: 400;
  color: #0A3871;
  opacity: 0.5;
}

.txt-default {
  text-align: center;
  border: red 1px dotted;
}

footer {
height: 15%;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border: red 1px dotted;
}

.icons-ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  
}

.fa-brands {
  font-size: 30px;
  border: red 1px dotted;
}



