@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  /* border: red 1px dotted; */
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

body {
  background: #F3F5FC;
}

#logoAlura {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 2%;
}
#main-container {
  width: 90%;
  display: block;
  margin: 5%;
}

.txt-center {
  text-align: center;
}

.linea {
  display: inline-block;
  vertical-align: middle;
}

#left-deck {
  width: 60%;
  height: 100%;
}

h1 {
  margin-bottom: 50px;
}

.crypted {
  font-weight: 700;
  font-style: normal;
}

textarea {
  width: 95%;
  height: 300px;
  resize: none;
  background:#F3F5FC;
  color: #0A3871;
  padding: 10px;
  font-weight: bolder;
  letter-spacing: 2px;
  border: none;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  color: #0A3871;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 20px;
}

.fa-poo {
  color: #161616;
}

#upsi {
  font-weight: 200;
  font-size: 13px;
  font-style: italic;
}

#mainbttns {
margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.bttns {
  border-radius: 24px;
  padding: 10px;
  cursor: pointer;
  border: none;
  font-size: 15px;
}

.bttns-left {
  background: #0A3871;
  color: #F3F5FC;
  
}

#right-deck {
margin-left: 2%;
  width: 35%;
  height: 100%;
  background: white;
  border-radius: 24px;
  text-align: center;
}

#doll {
  margin-top: 5%;
  width: 70%;
  animation-name: floating;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.info {
  margin: 5%;
  color: #161616;
}

#subtitulo {
  color: #0A3871;
  font-weight: 600;
}

#texto {
  font-weight: 200;
}

#btn-c {
margin-top: 30px;
  margin-bottom: 20px;
}


.fa-brands {
  font-size:25px;
 
}

a:visited {
  color: #161616;
}

#hashtag {
  font-size: 15px;
  position: absolute;
  font-weight: 200;
  cursor: default;
  bottom: 4%;
  right: 3%;
  z-index: 3;
}

.social {
  position: absolute;
  bottom: 4%;

}

#social1 {
  left: 3%;
}

#social2 {
  left: 6%;
}

#social3 {
  left: 9%;
}