@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');

/* font-family: "Poppins", sans-serif;
font-family: 'Bebas Neue', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #161616;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #FAFAFA;
}

.oculto {
  display: none;
}

.ajuste {
  min-height: 235px;
}

#aluraLogo {
  position: sticky;
  top: 1.5%;
  left: 1.5%;
}

#contenedor {
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
  padding: 2%;
}
#izquierda, #derecha {
  padding: 5%;
  max-height: 680px;
  border-radius: 20px;
  overflow-y: auto;
  margin-left: 15px;
}

#izquierda {
  width: 100%;
  padding: 5%;
}

#derecha {
  width: 95%;
  text-align: center;
  letter-spacing: 1px;
  cursor: default;
}

.crypted {
  font-family: 'Bebas Neue', cursive;
  cursor: default
}

textarea {
  width: 100%;
  height: 216px;
  border: none;
  background: none;
  resize: none;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px auto;
  font-weight: bolder;
  font-size: 15px;
  letter-spacing: 2px;
}

textarea:focus {
  outline: none;
}

.fa-face-smile-wink {
  margin-left: 10px;
  font-size: 15px;
}

#upsi {
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
  cursor: default
}

#mainbttns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

button {
  cursor: pointer;
  border-radius: 25px;
  border: none;
  padding: 3% 2%;
  font-weight: bolder;
  font-size: 15px;
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

button:focus {
  outline: none;
}

.doll {
  width: 50%;
  display: block;
  margin: 30px auto;
  animation: float 5s ease infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

#showResult {
  max-height: 235px;
  font-weight: 300;
  margin: 50px 30px 30px 30px;
  display: block;
  letter-spacing: 3px;
}

.nav {
  position: absolute;
  bottom: 1.5%;
  left: 1.5%;
  max-width: 80rem;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.nav:hover {
  pointer-events: auto;
}

.sm-header {
  font-size: 2rem;
  font-weight: 200;
  text-transform: uppercase;
  cursor: pointer;
  pointer-events: auto;
}
.line {
  width: 10rem;
  height: 1px;
  background-color: #161616;
  margin-left: 0.5rem;
  transform: scaleX(0.3);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.nav:hover .line {
  transform: scaleX(1);
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-inline: 1.5rem;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s;
}

.nav-item:nth-child(odd) {
  transform: translateY(5rem);
}

.nav-item:nth-child(even) {
  transform: translateY(-5rem);
}

.nav:hover .nav-item {
  opacity: 1;
  transform: translateY(0);
}

.nav-link {
  font-size: 2.6rem;
}
