@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter';
  transition: ease all 0.3s;
  text-decoration: none;
}

.bg-claro {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#aluraLogo {
  position: sticky;
  top: 1.5%;
  left: 1.5%;
  width: minmax(min-content, 50px);
  z-index: 3;
}

#contenedor {

  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.izquierda, .derecha {
padding: 5%;
  background: rgba(237, 237, 237, 0.4);
  border-radius: 20px;
  box-shadow: 1px 10px 43px 3px rgba(255,255,255,0.62);
-webkit-box-shadow: 1px 10px 43px 3px rgba(255,255,255,0.62);
-moz-box-shadow: 1px 10px 43px 3px rgba(255,255,255,0.62);
  
}



textarea {
  width: 596px;
  height: 216px;
  border: none;
  background: none;
  resize: none;
  padding: 20px;
  border-radius: 20px;
  background: rgba(210, 210, 210, 0.4);
  overflow: hidden;
  transition: 0.4s ease;
  margin: 20px auto;
  color: #0A3871;
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 2px;
}

textarea:focus {
  outline: none;
}

textarea:hover {
  transform: scale(1.05);
}

.fa-poo {
  margin: 10px 0;
  font-size: 15px;
}

#upsi {
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
  cursor: default;
}

#mainbttns {
  width: 60%;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.bttns {
  cursor: pointer;
  border-radius: 25px;
  border: none;
  padding: 5%;
  background: #0A3871;
  color: #F2F2F2;
  font-weight: bolder;
  font-size: 15px;
}

.doll {
width: 80%;
display: block;
margin: 0 auto;
transform: rotate(7deg);
animation: float 5s ease infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
.txt-center {
  text-align: center;
}

.info {
  letter-spacing: 1px;
}

#subtitulo {
  margin: 30px 0;
  color: #0A3871;
  font-weight: bolder;
  cursor: default;
}

#texto {
  font-weight: 200;
  cursor: default;
}

#showResult {
  text-align: center;
  font-weight: bolder;
  margin: 50px;
  display: block; 
}

.btn-c {
  display: block;
  margin: 0 auto;
}

footer {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 5%;
  justify-content: space-evenly;
  cursor: default;
}

.social {
  width: 40%;
  display: inline;
    text-align: center;
  }
  
a {
  cursor: pointer;
}  
  
a:visited {
  color: #161616;
}
.fa-brands {
  font-size: 25px;
  margin: 0 25px;
  transition: 0.5s ease-in-out;
}

.fa-brands:hover {
  transform: scale(1.3);
}

#hashtag {
  opacity: 0.5;
  letter-spacing: 4px;
  padding-left: 9%;
  font-weight: 300;
}

.oculto {
  display: none;
}