@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

body {
  background: #ccc;
}

.card {
  background: #dadada;
  width: 85%;
  height: 90%;
  margin: 3% auto;
  padding: 1.5%;
  border-radius: 50px;
  box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
}

.top-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#aluraLat {
  scale: 60%;
  padding-left: 20px;
}

.toggle {
  vertical-align: middle;
}

.toggle input[type=checkbox] {
  display: none;
}

.toggle label {
  background-color: #dadada;
  border: 2px solid #ccc;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all ease-in-out 0.6s;
  width: 50px;
  height: 30px;
}

.toggle label::after {
  background-color: #0054B0;
  border-radius: 50%;
  content: ' ';
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: all ease-in-out 0.6s;
  width: 25px;
  height: 25px;
}

.toggle input[type=checkbox]:checked ~ label {
  background-color: #161616;
  border-color: #ccc;
}

.toggle input[type=checkbox]:checked ~ label::after {
  background-color: #0054B0;
  transform: translateX(20px);
}

.card-main {
  padding-left: 20px;
}

.card-left {
  width: 65%;
  display: inline-block;
}

#instrucciones {
  font-size: 15px;
  font-weight: 200;
}

.fa-eye {
  padding-right: 5px;
  opacity: 0.7;
}

.crypted {
  color: #0A3871;
  font-weight: bolder;
  font-style: normal;
}

.cript-title {
display: block;
  color: #0A3871;
  font-weight: bolder;
  font-size: 30px;
}

textarea {
  width: 100%;
  height: 175px;
  border: none;
  resize: none;
  border-radius: 10px;
  padding: 10px;
  color: #0A3871;
  font-weight: bolder;
  letter-spacing: 2px;
  transition: 0.3s ease;
}

textarea:focus {
  outline: none;
}

::placeholder {
  font-weight: 400;
  color: #0A3871;
  font-size: 25px;
  opacity: 0.4;
}

.left-btns {
margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.btn {
  border: none;
  border-radius: 20px;
  padding: 15px;
  font-weight: bolder;
  letter-spacing: 2px;
  cursor: pointer;

}

.btn-left {
  background: #0A3871;
  color: #f2f2f2;
  transition:  0.5s;
}

.btn-left:hover {
  background: #f2f2f2;
  color: #0A3871;
}

.btn-right {
  width: 100%;
  margin-top: 47px;
  background: #f2f2f2;
  color: #0A3871;
  transition:  0.5s;
}

.btn-right:hover {
  background: #0A3871;
  color: #f2f2f2;
}

.card-right {
  margin-left: 40px;
  padding-left: 20px;
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.right-result {
  text-align: center;
}

#vector {
  padding-top: 15px;
  width: 75%;
  animation-name: floating;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.txt-default {
  text-align: center;
  font-weight: lighter;
  font-style: italic;
  opacity: 0.7;
}


.card-bottom  {
  width: 100%;
  margin-top: 10px;display: block;
}

.bottom-social {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 5px;
}

a:visited {
  color: #161616;
}

#hashtag {
  margin: 15px 0 0 0;
  padding: 0;
  text-align: center;
  font-style: italic;
  cursor: default;
  opacity: 0.4;
}

.fa-brands {
  font-size:25px;
}