@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: inter;
  transition: all ease 0.3s;
  text-decoration: none;
}

body {
  overflow: hidden;
}

.oculto {
  display: none;
}

.bg-claro {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 200vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#aluraLogo {
  position: sticky;
  top: 1.5%;
  left: 1.5%;
}

#contenedor {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 90px;
}

.izquierda, .derecha {
  padding: 5%;
  max-height: 680px;
  background: rgba(237, 237, 237, 0.4);
  border-radius: 20px;
  box-shadow: 1px 10px 43px 2px rgba(255,255,255,0.62);
  -webkit-box-shadow: 1px 10px 43px 2px rgba(255,255,255,0.62);
  -moz-box-shadow: 1px 10px 43px 2px rgba(255,255,255,0.62);
  overflow-y: auto;
  margin-left: 15px;
}

.izquierda {
  width: 97%;
  padding: 5%;
}

.derecha {
  width: 80%;
}

.crypted {
  color: #161616;
  cursor: default;
  letter-spacing: 2px;
}

textarea {
  width: 90%;
  height: 216px;
  border: none;
  background: none;
  resize: none;
  padding: 20px;
  border-radius: 20px;
  background: rgba(210, 210, 210, 0.4);
  overflow: hidden;
  transition: 0.4s ease;
  margin: 20px auto;
  color: #0A3871;
  font-weight: bolder;
  font-size: 15px;
  letter-spacing: 2px;
}

textarea:focus {
  outline: none;
}

textarea:hover {
  transform: scale(1.05);
}

.fa-poo {
  margin: 10px 0;
  font-size: 15px;
}

#upsi {
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
  cursor: default;
}

.bttns {
  cursor: pointer;
  border-radius: 25px;
  border: none;
  padding: 5%;
  font-weight: bolder;
  font-size: 15px;
  background: #0A3871;
  color: #F2F2F2;
}

.bttns:focus {
  outline: none;  
}

#mainbttns {
  width: 60%;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.doll {
  width: 65%;
  display: block;
  margin: 0 auto;
  animation: float 5s ease infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.txt-center {
  text-align: center;
}

.info {
  letter-spacing: 1px;
  color: #161616;
}

#subtitulo {
  margin: 30px 0;
  color: #0A3871;
  font-weight: bolder;
  cursor: default;
}

#texto {
  font-weight: 200;
  cursor: default;
}

#showResult {
  max-height: 235px;
  text-align: center;
  cursor: default;
  letter-spacing: 3px;
  font-weight: 300;
  margin: 50px 30px 30px 30px;
  display: block; 
  text-overflow: clip;
}

.ajuste {
  min-height: 235px;
}

.btn-c {
  padding: 15px;
  display: block;
  margin: 0 auto;
  border: none;
}

footer {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 5%;
  justify-content: space-evenly;
  cursor: default;
}

.social {
  width: 40%;
  display: inline;
  text-align: center;
}

a:visited {
  color: #161616;
}

.fa-brands {
  font-size: 25px;
  margin: 0 25px;
  transition: 0.5s ease-in-out;
}

.fa-brands:hover {
  transform: scale(1.3);
}

#hashtag {
  opacity: 0.5;
  letter-spacing: 4px;
  padding-left: 9%;
  font-weight: 300;
}
/*

.fa-brands:hover {
  transform: scale(1.3);
}

#hashtag {
  opacity: 0.5;
  letter-spacing: 4px;
  padding-left: 9%;
  font-weight: 300;
}

 */