@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'inter';
}

body {
  background: #161616;
}

header {
  width: 90%;
}

#aluraLogo {
  position: absolute;
  top: 3%;
  left: 3%;
  width: minmax(min-content, 50px);
}

/* Toggle modo oscuro */
.switch {
  font-size: 17px;
  position: absolute;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  right: 3%;
  top: 5%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #223243;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: #223243;
  -webkit-box-shadow: inset 2px -2px 0 1.8px #fff;
          box-shadow: inset 2px -2px 0 1.8px #fff;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-animation: anima1 0.3s linear;
          animation: anima1 0.3s linear;
}

@-webkit-keyframes anima1 {
  0% {
    -webkit-transform: translateX(1.5em);
            transform: translateX(1.5em);
  }

  80% {
    -webkit-transform: translateX(-0.3em);
            transform: translateX(-0.3em);
  }

  100% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
  }
}

@keyframes anima1 {
  0% {
    -webkit-transform: translateX(1.5em);
            transform: translateX(1.5em);
  }

  80% {
    -webkit-transform: translateX(-0.3em);
            transform: translateX(-0.3em);
  }

  100% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
  }
}

.switch input:checked + .slider:before {
  background-color: yellow;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateX(1.5em);
      -ms-transform: translateX(1.5em);
          transform: translateX(1.5em);
  -webkit-animation: anima 0.3s linear;
          animation: anima 0.3s linear;
}

@-webkit-keyframes anima {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px)
  }

  80% {
    -webkit-transform: translateX(1.6em);
            transform: translateX(1.6em)
  }

  100% {
    -webkit-transform: translateX(1.4em);
            transform: translateX(1.4em)
  }
}

@keyframes anima {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px)
  }

  80% {
    -webkit-transform: translateX(1.6em);
            transform: translateX(1.6em)
  }

  100% {
    -webkit-transform: translateX(1.4em);
            transform: translateX(1.4em)
  }
}


.oculto {
  display: none;
}