*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #1a1d24;
  color: #fff;
  height: 100vh;
}
a {
  color: inherit;
}

#contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 90px;
}

/* Estilos Redes sociales */
.nav {
position: absolute;
bottom: 5%;
left: 5%;
  max-width: 80rem;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.nav:hover {
  pointer-events: auto;
}
.sm-header {
  font-size: 2.6rem;
  text-transform: uppercase;
  cursor: pointer;
  pointer-events: auto;
}
.line {
  width: 20rem;
  height: 2px;
  background-color: #fff;
  margin-left: 2rem;
  /* margin-right: auto; */
  transform: scaleX(0.2);
  transform-origin: left;
  transition: transform 0.5s;
}
.nav:hover .line {
  transform: scaleX(1);
}
.nav-list {
  display: flex;
  list-style: none;
}
.nav-item {
  margin-inline: 1.5rem;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.nav-item:nth-child(odd) {
  transform: translateY(5rem);
}
.nav-item:nth-child(even) {
  transform: translateY(-5rem);
}
.nav:hover .nav-item {
  opacity: 1;
  transform: translateY(0);
}
.nav-link {
  font-size: 2.6rem;
}
.nav-link i {
  transition: color 0.5s;
}
